@using prueba.Models;
@{
    ViewBag.Title = "CreateEmployee";
}

<script src="~/Src/Js/Resources/ValRut.js"></script>
<script src="~/Src/Js/Validations/EmployeeList.js"></script>

<div class="container mt-4">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="col-md-3">
            <a href="@Url.Action("EmployeeList", "Employees")" class="btn btn-lg btn-secondary">
                <i class="bi bi-arrow-return-left"></i> Volver
            </a>
        </div>

        <div class="col-md-4 d-flex justify-content-end">
            <h3 class="text-white"><b class="text-white">CREAR EMPLEADO</b></h3>
        </div>
    </div>
</div>

<hr class="bg-white"/>
<br />

<form method="post" action="/Employees/InsertEmployee" class="container-fluid" id="formulario" onsubmit="return validaForm(this)">
    <h5 class="text-white">Datos generales</h5>
    <hr class="bg-white" />

    <div class="row">
        <div class="col mb-3">
            <input type="text" id="inpRut" name="inpRut" class="form-control" placeholder="RUT - (11111111-1) *" aria-label="First name" required>
        </div>

        <div class="col mb-3">
            <div class="form-group">
                <select class="selectpicker" name="inpSucursal" data-width="100%" required>
                    <option value="" selected>Seleccione una sucursal *</option>
                    @foreach (Branches suc in ViewBag.ComboSucursal)
                    {
                        <option value="@suc.IdSUC">@suc.Sucursal</option>
                    }
                </select>
            </div>
        </div>

        <div class="col mb-3">
            <div class="form-group">
                <select class="selectpicker" onchange="validaCargo()" id="inpCargo" name="inpCargo" data-width="100%" required>
                    <option value="" selected>Seleccione un cargo *</option>
                    @foreach (TipoEmpleado te in ViewBag.ComboTE)
                    {
                        <option value="@te.IdTE">@te.NomTE</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <h5 class="text-white">Nombre completo</h5>
    <hr class="bg-white" />


    <div class="row">
        <div class="col mb-3">
            <input type="text" name="inpNombre" class="form-control" placeholder="Nombre *" aria-label="First name" required>
        </div>

        <div class="col mb-3">
            <input type="text" name="inpSegNombre" class="form-control" placeholder="Segundo nombre" aria-label="First name">
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <input type="text" name="inpApellido" class="form-control" placeholder="Apellido *" aria-label="First name" required>
        </div>

        <div class="col mb-3">
            <input type="text" name="inpSegApellido" class="form-control" placeholder="Segundo apellido *" aria-label="First name" required>
        </div>
    </div>

    <h5 class="text-white">Dirección</h5>
    <hr class="bg-white" />


    <div class="row">
        <div class="col mb-3">
            <input type="text" name="inpDireccion" class="form-control" placeholder="Calle y número *" aria-label="First name" required>
        </div>

        <div class="col mb-3">
            <div class="form-group">
                <select class="selectpicker" name="inpRegion" data-live-search="true" data-width="100%" required>
                    <option value="" selected>Seleccione una región *</option>
                    @foreach (Region reg in ViewBag.ComboRegion)
                    {
                        <option value="@reg.IdReg">@reg.NomRegion</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <div class="form-group">
                <select class="selectpicker" name="inpProvincia" data-live-search="true" data-width="100%" required>
                    <option value="" selected>Seleccione una provincia *</option>
                    @foreach (Provincia prov in ViewBag.ComboProv)
                    {
                        <option value="@prov.IdProv">@prov.NomProvincia</option>
                    }
                </select>
            </div>
        </div>

        <div class="col mb-3">
            <div class="form-group">
                <select class="selectpicker" name="inpComuna" data-live-search="true" data-width="100%" required>
                    <option value="" selected>Seleccione una comuna *</option>
                    @foreach (Comuna cmn in ViewBag.ComboCmn)
                    {
                        <option value="@cmn.IdCmn">@cmn.NomComuna</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <h5 class="text-white">Contactos</h5>
    <hr class="bg-white" />

    <div class="row">
        <div class="col mb-3">
            <input type="text" id="inpCelular" name="inpCelular" class="form-control" placeholder="Número de celular - (+56912341234) *" aria-label="Phone" required>
        </div>

        <div class="col mb-3">
            <input type="email" name="inpCorreo" class="form-control" placeholder="Correo *" aria-label="email" required>
        </div>
    </div>

    <div id="con-pass" class="d-none">
        <h5 class="text-white">Contraseña - <span class="h6 text-white">Solo en caso de ser Administrador o Vendedor</span></h5>
        <hr class="bg-white" />

        <div class="row">
            <div class="col mb-3">
                <input type="password" id="fPass" name="inpContrasenia" class="form-control" placeholder="Contraseña" aria-label="Phone">
            </div>

            <div class="col mb-3">
                <input type="password" id="sPass" name="inpSegContrasenia" class="form-control" placeholder="Confirmar contraseña" aria-label="Phone">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" onclick="ShowPassword('MostrarContrasenia', 2)" id="MostrarContrasenia">
                    <label class="form-check-label text-white" for="flexCheckDefault">
                        Mostrar contraseña
                    </label>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div class="d-grid gap-2">
                <button type="submit" id="btn-guardar" class="btn btn-lg btn-success"><i class="bi bi-save-fill"></i> GUARDAR</button>
            </div>
        </div>
    </div>
</form>

<script src="~/Src/Js/Resources/ShowPassword.js"></script>
