@using prueba.Models;
@{
    ViewBag.Title = "Empleados";
}

<link href="~/Src/Css/Lists.css" rel="stylesheet" />

<div class="container">
    <div class="d-flex justify-content-between mt-5">
        <h2 class="text-white">Lista de empleados</h2>
        <a href="@Url.Action("CreateEmployee","Employees")" class="btn btn-success d-flex align-items-center" role="button">
            CREAR EMPLEADO
        </a>
    </div>
    <hr class="text-white" />

    <form method="post" action="/Employees/EmployeeList" class="row">
        <div class="col-sm-3 mb-4">
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label text-white">RUT</label>
                <select onchange="alertaFiltros()" class="selectpicker" id="rut" name="Rut" data-live-search="true" data-width="100%">
                    <option value="" selected>Seleccione un rut</option>
                    @foreach (string rut in ViewBag.ComboRut)
                    {
                        <option value="@rut">@rut</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-3 mb-4">
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label text-white">SUCURSAL</label>
                <select class="selectpicker" name="Sucursal" data-width="100%">
                    <option value="" selected>Seleccione una sucursal</option>
                    @foreach (Branches suc in ViewBag.ComboSucursal)
                    {
                        <option value="@suc.IdSUC">@suc.Sucursal</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-3 mb-4">
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label text-white">CARGO</label>
                <select class="selectpicker" name="Cargo" data-width="100%">
                    <option value="" selected>Seleccione un cargo</option>
                    @foreach (TipoEmpleado te in ViewBag.ComboTE)
                    {
                        <option value="@te.IdTE">@te.NomTE</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-3 d-flex align-items-end mb-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Filtrar según parámetros</button>
            </div>
        </div>
    </form>
</div>

<div class="container table-responsive">
    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">RUT</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">DIRECCIÓN</th>
                <th scope="col">TELÉFONO</th>
                <th scope="col">SUCURSAL</th>
                <th scope="col">CARGO</th>
                <th scope="col">EDITAR</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee Emp in ViewBag.Empleados)
            {
                <tr>
                    <th scope="row">@Emp.Id</th>
                    <td>@Emp.Rut</td>
                    <td>@Emp.Nombre @Emp.Apellido @Emp.SegApellido</td>
                    <td>@Emp.Direccion, @Emp.CMN, @Emp.PRO, @Emp.REG</td>
                    <td>@Emp.Telefono</td>
                    <td>@Emp.SUC</td>
                    <td>@Emp.TipoEmp</td>
                    <td>
                        <a href="@Url.Content("/Employees/EditEmployee?id=" + Emp.Id)">
                            <i class="bi bi-pencil-square text-primary h4"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


