@using prueba.Models;
@{
    ViewBag.Title = "Comics";
}

<link href="~/Src/Css/Lists.css" rel="stylesheet" />


<div class="container">
    <div class="alert alert-danger @ViewBag.ErrorInsertComic" role="alert">
        A simple danger alert—check it out!
    </div>

    <div class="d-flex justify-content-between mt-5">
        <h2 class="text-white">Lista de comics</h2>
        <a href="@Url.Action("CreateComic","Comics")" class="btn btn-success d-flex align-items-center" role="button">
            CREAR COMIC
        </a>
    </div>
    <hr class="text-white" />

    <form method="post" action="/Comics/ComicsList" class="row">
        <div class="col-sm-3 mb-4">
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label text-white">CATEGORIA</label>
                <select onchange="alertaFiltros()" class="selectpicker" id="categoria" name="Categoria" data-live-search="true" data-width="100%">
                    <option value="" selected>Seleccione una categoria</option>
                    @foreach (string categoria in ViewBag.ComboCategoria)
                    {
                        <option value="@categoria">@categoria</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-3 mb-4">
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label text-white">ESTADO</label>
                <select class="selectpicker" id="estado" name="Estado" data-width="100%">
                    <option value="" selected>Seleccione un estado</option>
                    @foreach (string estado in ViewBag.ComboEstado)
                    {
                        <option value="@estado">@estado</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-3 d-flex align-items-end mb-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Filtrar según parámetros</button>
            </div>
        </div>
    </form>
</div>

<div class="container table-responsive">
    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">VOLUMEN</th>
                <th scope="col">ESTADO</th>
                <th scope="col">ISBN</th>
                <th scope="col">CATEGORIA</th>
                <th scope="col">FECHA DE CREACION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Comic Com in ViewBag.Comics)
            {
                <tr>
                    <th scope="row">@Com.Id</th>
                    <td>@Com.Nombre</td>
                    <td>@Com.Volumen</td>
                    <td>@Com.Estado</td>
                    <td>@Com.Isbn</td>
                    <td>@Com.Categoria</td>
                    <td>@Com.fechaCreacion.ToString("dd-MM-yyyy")</td>
                    <td>
                        <button class="btn" onclick="showModal('editModal')">
                            <i class="bi bi-pencil-square text-primary h4"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


