@using prueba.Models.OrdenesCompra;
@{
    ViewBag.Title = "Recepción";
    OrdenesCompra res = new OrdenesCompra();
    DetalleOC res2 = new DetalleOC();

    OrdenesCompra oc = res.ObtenerOC(ViewBag.idoc)[0];
    List<DetalleOC> deoc = res2.ObtenerDetalleOC(ViewBag.idoc);

    DRecepcionOC res3 = new DRecepcionOC();

    string vis;
    if (ViewBag.estado == 0 || ViewBag.estado == 1)
    {
        vis = "";
    }
    else
    {
        vis = "d-none";
    }
}

<link href="~/Src/Css/Edits.css" rel="stylesheet" />

<div class="container mt-4">
    <div class="row d-flex justify-content-between">
        <div class="col-md-3">
            <a href="@Url.Action("OCList", "OrdenCompra")" class="btn btn-lg btn-secondary">
                <i class="bi bi-arrow-return-left"></i> Volver
            </a>
        </div>

        <div class="col-md-8 d-flex justify-content-end">
            <h3 class="text-white"><b class="text-primary">RECEPCIONANDO OC&nbsp;</b>&nbsp; @oc.Id</h3>
        </div>
    </div>
</div>

<hr class="bg-white" />
<br />

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 mb-3">
            <h5 class="text-white">Proveedor</h5>
            <hr class="bg-white" />
            <input value="@oc.Proveedor" type="text" class="form-control inp-disabled" disabled>
        </div>

        <div class="col-md-4 mb-3">
            <h5 class="text-white">Sucursal</h5>
            <hr class="bg-white" />
            <input value="@oc.Sucursal" type="text" class="form-control inp-disabled" disabled>
        </div>
    </div>
</div>



<form action="/RecepcionOC/InsertReception" class="container-fluid mt-4" method="post">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 d-flex justify-content-center">
            <h4 class="text-white"><b>DETALLE</b></h4>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <hr class="bg-white" />
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-1">
            <h5 class="text-white">ID</h5>
            <hr class="bg-white" />
        </div>

        <div class="col-md-3">
            <h5 class="text-white">NOMBRE</h5>
            <hr class="bg-white" />
        </div>

        <div class="col-md-2">
            <h5 class="text-white">CANTIDAD TOTAL</h5>
            <hr class="bg-white" />
        </div>

        <div class="col-md-2">
            <h5 class="text-white">PRECIO C/U</h5>
            <hr class="bg-white" />
        </div>

        <div class="col-md-2">
            <h5 class="text-white">PRECIO TOTAL</h5>
            <hr class="bg-white" />
        </div>

        <div class="col-md-2 @vis">
            <h5 class="text-white">A RECEPCIONAR</h5>
            <hr class="bg-white" />
        </div>
    </div>

    <input value="@deoc[0].IdOC" name="idoc" type="text" class="form-control d-none" >
    <input value="@deoc.Count" name="contador" type="text" class="form-control d-none" >
    @foreach (DetalleOC d in deoc)
    {
        <div class="row d-flex justify-content-center mb-3">
            <div class="col-md-1">
                <input value="@d.Count" type="text" class="form-control inp-disabled" disabled>
            </div>

            <div class="col-md-3">
                <input value="@d.NombreIns" type="text" class="form-control inp-disabled" disabled>
            </div>

            <div class="col-md-2">
                <input value="@d.Cantidad" type="text" class="form-control inp-disabled" disabled>
            </div>

            <div class="col-md-2">
                <input value="@d.PrecioUnit" type="text" class="form-control inp-disabled" disabled>
            </div>

            <div class="col-md-2">
                <input value="@d.PrecioTotal" type="text" class="form-control inp-disabled" disabled>
            </div>

            <div class="col-md-2 @vis">
                <input value="@d.IdIns" name="@("idins" + d.Count)" type="text" class="form-control d-none" >
                <input value="@res3.CantidadARecepcionar(d.IdOC, d.IdIns, d.Cantidad)" name="@("cantoriginal" + d.Count)" type="text" class="form-control d-none" >

                <input value="@res3.CantidadARecepcionar(d.IdOC, d.IdIns, d.Cantidad)" name="@("canrec" + d.Count)" type="text" class="form-control ">
            </div>
        </div>
    }

    <br />

    <div class="row d-flex justify-content-center @vis">
        <div class="col-md-4">
            <div class="d-grid gap-2">
                <button type="submit" id="btn-guardar" class="btn btn-lg btn-success"><i class="bi bi-save-fill"></i> GUARDAR</button>
            </div>
        </div>
    </div>
</form>

<script>
    let contador = @deoc.Count;
    @*for (var i = 1; i <= contador; i++) {
        let inp = document.getElementById(i);
        inp.setAttribute("name", `canrec${i}`);
    }*@

    //function validarCantidades() {
    //    for (var i = 1; i <= contador; i++) {
    //        docu
    //        if () {

    //        }
    //    }
    //}
</script>





