@using prueba.Models;
@{
    ViewBag.Title = "Editar proveedor";
    Proveedor res = new Proveedor();
    Proveedor pro = res.ObtenerProveedor(ViewBag.Proveedor)[0];
}

<link href="~/Src/Css/Edits.css" rel="stylesheet" />

<div class="container mt-4">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="col-md-3">
            <a href="@Url.Action("ProviderList", "Providers")" class="btn btn-lg btn-secondary">
                <i class="bi bi-arrow-return-left"></i> Volver
            </a>
        </div>

        <div class="col-md-6 d-flex justify-content-end">
            <h3 class="text-white"><b class="text-primary">EDITANDO A&nbsp;</b>&nbsp; @pro.Id - @pro.Nombre</h3>
        </div>
    </div>
</div>

<hr class="bg-white" />
<br />

<form method="post" action="/Providers/UpdateProvider" class="container-fluid" id="formulario" @*onsubmit="return validaForm(this)"*@>
    <h5 class="text-white">Datos generales</h5>
    <hr class="bg-white" />

    <div class="row">
        <div class="col mb-3">
            <input value="@pro.Id" type="text" name="inpId" class="form-control d-none">

            <input type="text" value="@pro.Rut" name="inpRut" class="form-control inp-disabled" placeholder="RUT - (11111111-1) *" required disabled>
        </div>

        <div class="col mb-3">
            <input type="text" value="@pro.Nombre" name="inpNombre" class="form-control" placeholder="Nombre proveedor *" required>
        </div>

        <div class="col mb-3">
            <div class="form-group">
                <select class="selectpicker" name="inpRub" data-width="100%" required>
                    <option value="" selected>Seleccione un rubro *</option>
                    @foreach (Rubros rub in ViewBag.ComboRub)
                    {
                        if (pro.idRUB == rub.IdRUB)
                        {
                            <option value="@rub.IdRUB" selected>@rub.Rubro</option>
                        }
                        else
                        {
                            <option value="@rub.IdRUB">@rub.Rubro</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    <h5 class="text-white">Dirección</h5>
    <hr class="bg-white" />

    <div class="row">
        <div class="col mb-3">
            <input type="text" value="@pro.Direccion" name="inpDireccion" class="form-control" placeholder="Calle y número *" required>
        </div>

        <div class="col mb-3">
            <div class="form-group">
                <select class="selectpicker" name="inpRegion" data-live-search="true" data-width="100%" required>
                    <option value="" selected>Seleccione una región *</option>
                    @foreach (Region reg in ViewBag.ComboRegion)
                    {
                        if (pro.idREG == reg.IdReg)
                        {
                            <option value="@reg.IdReg" selected>@reg.NomRegion</option>
                        }
                        else
                        {
                            <option value="@reg.IdReg">@reg.NomRegion</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <div class="form-group">
                <select class="selectpicker" name="inpProvincia" data-live-search="true" data-width="100%" required>
                    <option value="" selected>Seleccione una provincia *</option>
                    @foreach (Provincia prov in ViewBag.ComboProv)
                    {
                        if (pro.idPRO == prov.IdProv)
                        {
                            <option value="@prov.IdProv" selected>@prov.NomProvincia</option>
                        }
                        else
                        {
                            <option value="@prov.IdProv">@prov.NomProvincia</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="col mb-3">
            <div class="form-group">
                <select class="selectpicker" name="inpComuna" data-live-search="true" data-width="100%" required>
                    <option value="" selected>Seleccione una comuna *</option>
                    @foreach (Comuna cmn in ViewBag.ComboCmn)
                    {
                        if (pro.idCMN == cmn.IdCmn)
                        {
                            <option value="@cmn.IdCmn" selected>@cmn.NomComuna</option>
                        }
                        else
                        {
                            <option value="@cmn.IdCmn">@cmn.NomComuna</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    <h5 class="text-white">Contactos</h5>
    <hr class="bg-white" />

    <div class="row">
        <div class="col mb-3">
            <input type="text" value="@pro.Telefono" id="inpCelular" name="inpCelular" class="form-control" placeholder="Número de celular - (+56912341234) *" required>
        </div>

        <div class="col mb-3">
            <input type="email" value="@pro.Correo" name="inpCorreo" class="form-control" placeholder="Correo *" required>
        </div>
    </div>

    <br />

    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div class="d-grid gap-2">
                <button type="submit" id="btn-guardar" class="btn btn-lg btn-success"><i class="bi bi-save-fill"></i> GUARDAR</button>
            </div>
        </div>
    </div>
</form>