@using prueba.Models;
@{
    ViewBag.Title = "Detalle venta";
    Venta res = new Venta();
    DetalleVenta res2 = new DetalleVenta();

    Venta ven = res.ListarVentas(null,null,null,ViewBag.idVen)[0];

    int idVen = Convert.ToInt32(ViewBag.idVen);
    List<DetalleVenta> deven = res2.DetallePorVenta(idVen);

}

<link href="~/Src/Css/Edits.css" rel="stylesheet" />

<div class="container mt-4">
    <div class="row d-flex justify-content-between">
        <div class="col-md-3">
            <a href="@Url.Action("ListaVentas", "Venta")" class="btn btn-lg btn-secondary">
                <i class="bi bi-arrow-return-left"></i> Volver
            </a>
        </div>

        <div class="col-md-8 d-flex justify-content-end">
            <h3 class="text-white"><b class="text-primary">RECEPCIONANDO TIRAJE&nbsp;</b>&nbsp; @ven.IdVEN</h3>
        </div>
    </div>
</div>

<hr class="bg-white" />
<br />

<div class="container">
    <div class="row d-flex justify-content-center">

        <div class="col-md-3 mb-3">
            <h5 class="text-white">Sucursal</h5>
            <hr class="bg-white" />
            <input value="@ven.Sucursal" type="text" class="form-control inp-disabled" disabled>
        </div>

        <div class="col-md-3 mb-3">
            <h5 class="text-white">Cliente</h5>
            <hr class="bg-white" />
            <input value="@ven.NombreCLI" type="text" class="form-control inp-disabled" disabled>
        </div>

        <div class="col-md-3 mb-3">
            <h5 class="text-white">Empleado</h5>
            <hr class="bg-white" />
            <input value="@ven.NombreEMP" type="text" class="form-control inp-disabled" disabled>
        </div>

        <div class="col-md-3 mb-3">
            <h5 class="text-white">Fecha y hora</h5>
            <hr class="bg-white" />
            <input value="@ven.FechaHora.ToString("dd/MM/yyyy HH:mm:ss")" type="text" class="form-control inp-disabled" disabled>
        </div>
    </div>
</div>

<div class="container-fluid mt-4" >
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 d-flex justify-content-center">
            <h4 class="text-white"><b>DETALLE VENTA</b></h4>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <hr class="bg-white" />
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-1">
            <h5 class="text-white">#</h5>
            <hr class="bg-white" />
        </div>

        <div class="col-md-3">
            <h5 class="text-white">NOMBRE</h5>
            <hr class="bg-white" />
        </div>

        <div class="col-md-2">
            <h5 class="text-white">CANTIDAD TOTAL</h5>
            <hr class="bg-white" />
        </div>

        <div class="col-md-2">
            <h5 class="text-white">PRECIO C/U</h5>
            <hr class="bg-white" />
        </div>

        <div class="col-md-2">
            <h5 class="text-white">PRECIO TOTAL</h5>
            <hr class="bg-white" />
        </div>

    </div>

    @foreach (DetalleVenta d in deven)
    {
        <div class="row d-flex justify-content-center mb-3">
            <div class="col-md-1">
                <input value="@d.Count" type="text" class="form-control inp-disabled" disabled>
            </div>

            <div class="col-md-3">
                <input value="@d.NombreCom" type="text" class="form-control inp-disabled" disabled>
            </div>

            <div class="col-md-2">
                <input value="@d.Cantidad" type="text" class="form-control inp-disabled" disabled>
            </div>

            <div class="col-md-2">
                <input value="@d.precioUnit" type="text" class="form-control inp-disabled" disabled>
            </div>

            <div class="col-md-2">
                <input value="@d.precioTotal" type="text" class="form-control inp-disabled" disabled>
            </div>
        </div>
    }

</div>


