
@{
    ViewBag.Title = "Home";
}

<link href="~/Src/Css/Home.css" rel="stylesheet" />

<h2 class="text-white">Accesos directos</h2>
<hr class="text-white" />

@if((int)Session["IdRol"] == 1) {
<div class="container">
    <div class="row">
        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("EmployeeList","Employees")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">EMPLEADOS</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <i class="bi bi-person-fill cz-emp"></i>
                </div>
            </div>
        </a>

        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("ProviderList", "Providers")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">PROVEEDORES</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <i class="bi bi-person-fill cz-emp"></i>
                </div>
            </div>
        </a>        
    </div>

    <hr class="bg-white" /> 

    <div class="row">
        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("OCList", "OrdenCompra")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">ORDEN DE COMPRA</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <i class="bi bi-person-fill cz-emp"></i>
                </div>
            </div>
        </a>

        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("ComicsList", "Comics")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">CATALOGO DE COMICS</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <i class="bi bi-person-fill cz-emp"></i>
                </div>
            </div>
        </a>

        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("SuppliesList", "Supplies")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">INSUMOS</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <i class="bi bi-person-fill cz-emp"></i>
                </div>
            </div>
        </a>

        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("ClientsList", "Clients")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">CLIENTES</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <i class="bi bi-person-fill cz-emp"></i>
                </div>
            </div>
        </a>



    </div>
</div>
}
else 
{
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">VENTA</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
}

