
@{
    ViewBag.Title = "Home";
}

<link href="~/Src/Css/Home.css" rel="stylesheet" />

<h2 class="text-white">Accesos directos</h2>
<hr class="text-white" />

@if((int)Session["IdRol"] == 1) {
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <i class="bi bi-person-fill cz-emp me-3"></i>
            <h4 class="text-white">PERSONAS</h4>
        </div>
        <hr class="bg-white" />
    </div>

    <div class="row">
        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("EmployeeList","Employees")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">EMPLEADOS</h5>
                </div>
            </div>
        </a>

        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("ProviderList", "Providers")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">PROVEEDORES</h5>
                </div>
            </div>
        </a>

        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("ClientsList", "Clients")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">CLIENTES</h5>
                </div>
            </div>
        </a>

    </div>

    <div class="row mt-3">
        <div class="col-md-6 d-flex align-items-center">
            <i class="bi bi-book cz-emp me-3"></i>
            <h4 class="text-white">CÓMICS</h4>
        </div>
        <hr class="bg-white" />
    </div>

    <div class="row">


        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("ComicsList", "Comics")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">CATALOGO DE COMICS</h5>
                </div>
            </div>
        </a>

        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("TirajeList", "Tiraje")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">TIRAJE</h5>
                </div>
            </div>
        </a>

        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("StockComList", "StockComics")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">STOCK CÓMICS</h5>
                </div>
            </div>
        </a>

        
    </div>

    <div class="row mt-3">
        <div class="col-md-6 d-flex align-items-center">
            <i class="bi bi-box-seam cz-emp me-3"></i>
            <h4 class="text-white">INSUMOS</h4>
        </div>
        <hr class="bg-white" />
    </div>

    <div class="row">
        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("SuppliesList", "Supplies")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">INSUMOS</h5>
                </div>
            </div>
        </a>

        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("OCList", "OrdenCompra")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">ORDEN DE COMPRA</h5>
                </div>
            </div>
        </a>

        <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("StockSuppList", "StockSupplies")">
            <div class="card-body cz-cardmenu__body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">STOCK INSUMOS</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="row mt-3">
        <div class="col-md-6 d-flex align-items-center">
            <i class="bi bi-receipt cz-emp me-3"></i>
            <h4 class="text-white">VENTA</h4>
        </div>
        <hr class="bg-white" />
    </div>

    <div class="row">
        <div class="row">
            <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("ListaVentas", "Venta")">
                <div class="card-body cz-cardmenu__body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">VENTA</h5>
                    </div>
                </div>
            </a>

            <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("CreateVentaPorMayor","Venta")">
                <div class="card-body cz-cardmenu__body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">VENTA POR MAYOR</h5>
                    </div>
                </div>
            </a>

            <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("CreateVenta","Venta")">
                <div class="card-body cz-cardmenu__body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">VENTA POR MENOR</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
}
else 
{
<div class="container" >
    <div class="row mt-3">
        <div class="col-md-6 d-flex align-items-center">
            <i class="bi bi-receipt cz-emp me-3"></i>
            <h4 class="text-white">VENTA</h4>
        </div>
        <hr class="bg-white" />
    </div>

    <div class="row">
        <div class="row">
            <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("ListaVentas", "Venta")">
                <div class="card-body cz-cardmenu__body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">VENTA</h5>
                    </div>
                </div>
            </a>

            <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("CreateVentaPorMayor","Venta")">
                <div class="card-body cz-cardmenu__body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">VENTA POR MAYOR</h5>
                    </div>
                </div>
            </a>

            <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("CreateVenta","Venta")">
                <div class="card-body cz-cardmenu__body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">VENTA POR MENOR</h5>
                    </div>
                </div>
            </a>

            <a class="card cz-cardmenu mt-4 me-3" style="width: 18rem;" href="@Url.Action("ClientsList", "Clients")">
                <div class="card-body cz-cardmenu__body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">CLIENTES</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
}

