@using prueba.Models;
@using prueba.Models.EquipoComic;
@{
    ViewBag.Title = "ListaEmpleados";

    TipoEmpleado te = new TipoEmpleado();
}

<link href="~/Src/Css/Lists.css" rel="stylesheet" />


<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col-md-3">
            <a href="@Url.Action("ComicsList", "Comics")" class="btn btn-lg btn-secondary">
                <i class="bi bi-arrow-return-left"></i> Volver
            </a>
        </div>

        <div class="d-flex justify-content-between mt-5">
            <h2 class="text-white">Equipo del Comic</h2>
            <a href="@Url.Action("AddEmpleadoEC","EquipoComic")" class="btn btn-success d-flex align-items-center" role="button">
                AÑADIR EMPLEADO
            </a>
        </div>
        <hr class="text-white" />
    </div>
</div>

<div>
    <div class="container table-responsive">
        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ROL</th>
                    <th scope="col">RUT</th>
                    <th scope="col">NOMBRE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Employee emp in ViewBag.ListaEmpleados)
                {
                    TipoEmpleado teNombre = te.NombreTE(emp.IdRol)[0];
                <tr>
                    <th scope="row">@emp.Id</th>
                    <td>@teNombre.NomTE</td>
                    <td>@emp.Rut</td>
                    <td>@emp.Nombre @emp.Apellido @emp.SegApellido</td>
                    <td class="text-center">
                        <a href="@Url.Content("/EquipoComic/EliminarEmpleado?id=" /*+ necesito la id del eec xd*/)">
                            <i class="bi bi-pencil-square text-primary h4"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


